*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

   /* SISTEMA GLOBAL DE TEMAS */

:root {
  --mm-laranja: #ff6b00;
}

/* TEMA PADRÃO */

.pagina,
app-cabecalho,
app-rodape {
  --cor-principal: #ff6b00;
  --cor-principal-hover: #e85f00;
  --cor-principal-suave: #fff1e6;

  --fundo: #f5f6f8;
  --fundo-secundario: #ffffff;
  --fundo-terciario: #f0f1f3;

  --texto: #171b24;
  --texto-secundario: #666b76;

  --borda: #e1e3e8;

  --sombra:
    0 18px 50px
    rgba(17, 24, 39, 0.08);
}

/* TEMA ESCURO */

.pagina.modo-escuro,
app-cabecalho.modo-escuro,
app-rodape.modo-escuro {
  --cor-principal: #ff7a1a;
  --cor-principal-hover: #ff8d3d;
  --cor-principal-suave: #2d211a;

  --fundo: #0e1014;
  --fundo-secundario: #171a20;
  --fundo-terciario: #20242c;

  --texto: #f7f7f8;
  --texto-secundario: #aeb3bd;

  --borda: #2b3039;

  --sombra:
    0 18px 50px
    rgba(0, 0, 0, 0.28);
}

/* TEMA VITÓRIA */

.pagina.tema-vitoria,
app-cabecalho.tema-vitoria,
app-rodape.tema-vitoria {
  --cor-principal: #d71920;
  --cor-principal-hover: #b91117;
  --cor-principal-suave: #fdebed;

  --fundo: #f5f5f5;
  --fundo-secundario: #ffffff;
  --fundo-terciario: #f0f0f0;

  --texto: #141414;
  --texto-secundario: #666666;

  --borda: #dddddd;

  --sombra:
    0 18px 50px
    rgba(17, 24, 39, 0.08);
}

/* TEMA BAHIA */

.pagina.tema-bahia,
app-cabecalho.tema-bahia,
app-rodape.tema-bahia {
  --cor-principal: #0067b1;
  --cor-principal-hover: #00538f;
  --cor-principal-suave: #e6f3fc;

  --fundo: #f3f7fa;
  --fundo-secundario: #ffffff;
  --fundo-terciario: #edf3f7;

  --texto: #14202a;
  --texto-secundario: #63717d;

  --borda: #dce5eb;

  --sombra:
    0 18px 50px
    rgba(17, 24, 39, 0.08);
}

/* VITÓRIA ESCURO */

.pagina.tema-vitoria-escuro,
app-cabecalho.tema-vitoria-escuro,
app-rodape.tema-vitoria-escuro {
  --cor-principal: #e52330;
  --cor-principal-hover: #f23845;
  --cor-principal-suave: #32191e;
}

/* BAHIA ESCURO */

.pagina.tema-bahia-escuro,
app-cabecalho.tema-bahia-escuro,
app-rodape.tema-bahia-escuro {
  --cor-principal: #1684d4;
  --cor-principal-hover: #2998eb;
  --cor-principal-suave: #142b40;
}
